@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;

} */
.wrappper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
} 
.word {
    color: hsl(277, 64%, 61%);
}
.container {
    margin-top: 175px;
    margin-left: 285px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 910px;
    height: 370px;
}
.text-part {
    padding: 20px;
    width: 455px;
    height: 370px;
    background-color: hsl(244, 38%, 16%);
    color: white;
}
.main-heading, .main-paragraph {
    margin-bottom: 30px;
    margin: 20px 80px;
    font-family: 'Inter', sans-serif
}
.main-paragraph {
    font-size: 11px;
    line-height:2 ;
}
.stats {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 40px;
}
.stats p {
    color: hsla(0, 0%, 100%, 0.75);
}
body {
    background-color:hsl(233, 47%, 7%) ;
}

.pic {
   opacity:0.5 ;
}
.pic img {
    height: 97%;
    width: 100%;
}


    









    
